body{
  background:radial-gradient(circle,#0b1220,#020617);
  font-family:Poppins,Arial;
  color:#fff;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}

.main-box{
  background:#020617;
  padding:30px;
  border-radius:18px;
  width:420px;
  text-align:center;
  box-shadow:0 0 40px rgba(0,255,204,.35);
}

.inputs input{
  width:100%;
  margin:6px 0;
  padding:10px;
  border-radius:8px;
  border:none;
}

button{
  margin:6px;
  padding:10px 18px;
  border:none;
  border-radius:20px;
  background:#00ffd5;
  cursor:pointer;
}

.score-big{
  font-size:46px;
  margin:15px 0;
  color:#00ffd5;
}

.scorebox{
  background:#020617;
  padding:15px 30px;
  border-radius:14px;
  border:2px solid #00ffd5;
  display:flex;
  gap:20px;
  font-size:28px;
}
